
                            <div tabindex="0" class="e-card" id="vertical_business">
                                <div class="e-card-header">
                                    <div class="e-card-header-caption">
                                        {{key}} <span>Last updated {{latestby(data) | date}}</span>
                                        <div class="e-card-header-title">{{iterate(data)}}
                                            <p> 
                                                {{sevenDay(data)}}
                                            </p>
                                        </div>

                                    </div>
                                </div>
                                <div class="e-card-actions">
                                   <app-charts [Data]="data" [Key]="key" ></app-charts>
                                </div>
                            </div>