<app-navigation ></app-navigation>
<app-home [loadable]="datas$ | async">

    <div class="text-center">
        <p *ngFor="let item of (datas$ | async).entities">{{ item }}</p>

        <!-- <button ejs-button cssClass="e-info" (click)=reload()>Reload </button> -->
    </div>
    <!-- <p *ngFor="let item of (data$ | async).entities">{{item}}</p> -->


</app-home>

<!-- <div id="maincontent" class="content">

    <div>
        <div class="title">Main content</div>
        <div class="rows">
            <div class="row">
                <ejs-radiobutton id='left' #radio label="Left" name="position" checked="true"
                    (change)="changeHandler($event)"></ejs-radiobutton>
            </div>
            <div class="row">
                <ejs-radiobutton id='right' #radio label="Right" name="position" (change)="changeHandler($event)">
                </ejs-radiobutton>
            </div>
        </div>
    </div>
</div> -->